<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Glegoo&family=Sansita&family=Solway&display=swap" rel="stylesheet"> 
<style>
	@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Sansita&family=Solway&display=swap');
	html, body {
  height: 100%;
  margin: 0;
}

#background-img{
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		opacity: 1.0;
		/* Blue 2 */
		border: 1px solid #2D9CDB;
		box-sizing: border-box;
		filter: blur(3.5px) brightness(80%); 
	}

	#logo{
		z-index: 1;
		position: fixed;
		left: 0px;
		top: 0px;
		margin-right: 200px;

	}
	#titulo{
				z-index: 1;

		font-family: 'Sansita', sans-serif;
		font-size: 42px;
		color: #F27B5A;
		position: fixed;
		left: 100px;
		top: 0.5px;
	}

#intro {
background-color: transparent;  text-align: center;
  width: 350px;
    margin: 0 auto;

 }

	/*Formulário*/
	#form-cad{
		background-color: #fff;
		border-style: solid;
		border: 2.5px solid #fff;
		box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		    margin: 0 auto;
padding: 5px;
position: relative;

  height: 1050px;
  width: 400px;
	
		font-family: 'Crete Round', serif;
		color: #000000;
	}
	#form-cad p{
		margin-top: 35px;
		margin-left: 20px;
	}
	h2{
		font-size: 28px;
	}

	#btn{
		border-radius: 47px;
		padding: 8px 20px 8px 20px;
		border-width: 0px;
		background-color: #3A3FB4;
		font-family: 'Crete Round', serif;
		margin-left: 199.7px;
		margin-top: 20px;
		color: #FFFFFF;
	}
	#btn:hover{
		cursor: pointer;
	}
	/*Rodapé*/
	footer {
		font-family: 'Solway', serif;
		color: #FFFFFF;
		font-size: 14px;
		width: 100%;
		padding: 3px;
		margin: 40px 0px 0px 0px;
		background-color: transparent;
		position: relative;
		left: 0vh;
		bottom: 0px; 
	}
	footer a{
		color: white;
	}
	footer a:visited{
		color: white;
	}
</style>
</head>