<html>
<head>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Sansita&family=Solway&display=swap');
	html, body {
		width: 100%;
		height: 100%;
		display: flex;
		margin: 0;
		padding: 0;
		background: #E5E5E5;
	}
	/*CABEÇALHO*/
	#background-img{
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		opacity: 1.0;
		/* Blue 2 */
		border: 1px solid #2D9CDB;
		box-sizing: border-box;
		filter: blur(3.5px) brightness(80%); 
	}

.nav-link {
   padding-top: 2px;
    padding-bottom: 2px;
  font-size: 20px;
  display: block;
  border: 1px #808080 solid;
}
ul li a {
  text-decoration: none;
  display: block;
  padding: 0px;
}

#menu {
	margin: 0;
}
#ul-principal ul{
	margin: 0;
	list-style: none;
}
.li-p{
	text-align: center;
	float: top;
	margin: 0;
	line-height: 50px;
}
ul li ul li {
	background-color: black;
}


#navbar li {
  list-style: none;
}
#navbar h1 {
			font-family: 'Solway', serif;
	  font-size: 25px;

}
#navbar {
	  font-size: 20px;
    text-align: center;

  background-color: #f0f0f0;
  position: fixed;
  min-width: 250px;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  width: 100px;
  height: 100%;
  border-color: rgba(0, 22, 22, 0.4);
  text-align: center;
}

 #logo{
opacity: 1.0;
		z-index: 1;
		position: relative;
		left: 0px;
		top: 0px;

	}
	#titulo{
				z-index: 1;

		font-family: 'Sansita', sans-serif;
		font-size: 42px;
		color: #F27B5A;
		position: fixed;
		left: 100px;
		top: 0.5px;
		
	}

	#su{
		position: relative;
		font-family: 'Solway', serif;
		color: #FFFFFF;
		border-radius: 25px;
	}

	.ulprod, .ulentreg,	.uluser, .ulgerente {
display: none;
	}

	/*RODAPÉ*/
	footer {
		font-family: 'Solway', serif;
		color: #FFFFFF;
		font-size: 14px;
		width: 100%;
		padding: 3px;
		margin: 932px 0px 0px 0px;
		background-color: #696D7D;
		position: static;
		bottom: 0px; 
	}
	footer a{
		color: white;
	}
	footer a:visited{
		color: white;
	}

	/*CADASTRO*/
	.conteudo{
		width: 400px;
		 position: absolute;
  top: 35%; /* posiciona na metade da tela */
  margin-top: -25px; /* e retrocede metade da altura */
  left: 50%; /* posiciona na metade da tela */
  margin-left: -100px; /* e retrocede metade da largura */
		padding: 5px;
		font-family: 'Solway', serif;
		font-size: 18px;		
border-radius: 15px;		
background-color: #fff;
text-align: justify: 
	}

nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}

nav ul {
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 15px 20px;
			color: #757575; text-decoration: none;
		}

nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; 
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 15px 20px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}


</style>
</head>